/* Global Styles */
body {
  font-family:  Roboto, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.semi-bold { 
  font-weight: 700 
}

/* User Card Styling */
.card {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
}



.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-color: #e9ecef;
}

.card-body {
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.card-img-top{ 
  background-color: #f0f0f0
}
.heart-filled{
  fill: red;
  stroke:red ;
}

.divider { 
  width: 1px;
  height: 20px;
  background-color: #ccc
}
/* Button Styling */
.btn {
  cursor: pointer;
}

.btn-outline-danger {
  border: 1px solid red;
}

.btn-outline-danger:hover {
  background-color: red;
  color: white;
}
.cursor-pointer {
  cursor: pointer;
}

